<!--<p *ngFor="let dt of date;">{{ dt | date}}</p>-->

<div class="container">
  <div class="box">
    <img src="{{ imageLink }}" alt="">
    <h1 class="header">{{ id }} <small [ngStyle]="{'color': priceChange24h < 0 ? 'red' : 'rgb(1, 199, 1)'}">${{ currentPrice }}</small></h1>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="buttons">
        <a class="period" [ngClass]="{active : activeState === '24h'}" (click)="updateChart(1); changeStatus('24h')">24h</a>
        <a class="period" [ngClass]="{active : activeState === '7days'}" (click)="updateChart(7); changeStatus('7days')">7 Days</a>
        <a class="period" [ngClass]="{active : activeState === '30days'}" (click)="updateChart(30); changeStatus('30days')">Month</a>
        <a class="period" [ngClass]="{active : activeState === 'year'}" (click)="updateChart(365); changeStatus('year')">Year</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <table class="table table-striped">
        <tr>
          <th scope="col">Market cap rank: </th>
          <td>#{{ marketCapRank }}</td>
        </tr>

        <tr>
          <th scope="col">Current price: </th>
          <td >${{ currentPrice }}</td>
        </tr>

        <tr>
          <th scope="col">Market cap: </th>
          <td>${{ marketCap }}</td>
        </tr>

        <tr *ngIf="priceChange24h<0;else positive">
          <th scope="col">Last 24 hours: </th>
          <td>{{ priceChange24h }}%</td>
        </tr>
        <ng-template #positive>
          <tr>
            <th scope="col">Last 24 hours: </th>
            <td>+{{ priceChange24h }}%</td>
          </tr>
        </ng-template>


        <tr>
          <th scope="col">Website: </th>
          <td><a href="{{ websiteLink }}">{{ websiteLink }}</a></td>
        </tr>
      </table>

    </div>

    <div class="col-lg-8">
      <div id="chartDiv" class="chart" *ngIf="chart">
        <canvas id="canvas">{{ chart }}</canvas>
      </div>
    </div>
  </div>

  <a href="#" [routerLink]="['/']" class="period">Check another cryptocurrencies</a>
</div>

