

.header{
  text-transform: uppercase;
  margin: 5px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

small{
  font-size: 50%;
}


.box {
  display: flex;
  align-items:center;
}

.buttons{
  text-align: right;
}

.period {
  background-color: white;
  color: black;
  border: 1px solid #7a7a7a;
  border-radius: 7px;
  transition-duration: 0.4s;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
}

.period:hover {
  background-color: #7a7a7a;
  color: white;
  cursor: pointer;
}

.active{
  background-color: #7a7a7a;
  color: white;
}
