table{
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

.round{
  width: 1em;
  height: 1em;
}

.red {color: red}
.green {color:rgb(1, 199, 1);}

a{
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

a:hover{
  font-weight: bold;
  text-decoration: underline;
}

img{
  position: relative;
  margin-right: 0.3em;
}
