<div class="container">
<table class="table table-sm table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Coin</th>
    <th scope="col">Current price</th>
    <th scope="col">Market Cap</th>
    <th scope="col">24h</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let nm of values; index as i" [ngStyle]="{'color': nm.price_change_percentage_24h < 0 ? 'red' : 'rgb(1, 199, 1)'}">
    <th scope="row">{{ i+1 }}</th>
    <th><img src="{{ nm.image }}" class="round"><a href="#" [routerLink]="['/info', nm.id]">{{ nm.name }}</a></th>
    <th>${{ numberWithCommas(nm.current_price) }}</th>
    <th>${{ numberWithCommas(nm.market_cap) }}</th>
    <th>{{ nm.price_change_percentage_24h.toFixed(2) }}%</th>
  </tr>
  </tbody>
</table>
</div>
